@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
ol{
  display: flex;
  flex-direction:column;
  flex-grow: 1; width: 100%; padding: 10px;
  align-items:center;
  justify-content:center;
     list-style-type: none;
 }
ol li { flex-grow: 1; padding: 15px; 
        text-align: center; }

#nv {
  top: 0px;
  width: 100%;
  position: sticky;
  z-index:20;
}
#ld {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff url('edit.gif') no-repeat center;
  z-index: 999999999999999999;
}
#logo {
  height: 50px;
  width: auto;
  margin-left:15px;
}
#ltxt {
  display: inline;
  font-size: 35px;
}
#navbarSupportedContent {
  font-size: 20px;
}
.am button {
  font-size: 20px;
}
#abt {
  font-family: 'Rajdhani', sans-serif;
  margin-top: 30%;
}
#container {
  margin-top:80px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#child {
  margin: 3%;
}
.ig {
  height: 350px;
  width: 100%;
}
.h {
  background-color: lavender;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
}
.books {
  text-align: center;
  margin-top: 40px;
}
.d {
  width: 25px;
  height: auto;
}
.b {
  font-family: sans-serif, 'Times New Roman', Times, serif;
}
#foot {
  bottom: 0px;
  width: 100%;
  position: fixed;
  z-index: 20;
  background: linear-gradient(to bottom, #000066 0%, #333399 100%);
  color: #fff;
  text-align: center;
  padding-top: 15px;
}
.v1 {
  display: none;
}
@media (max-width: 991.98px) {
  #abt {
    margin-top: 15px;
  }
}
@media (max-width: 767.98px) {
  #abt {
    margin-top: 15px;
  }
}
@media (max-width: 575.98px) {
  #ltxt {
    font-size: 24px;
  }
  #abt {
    margin-top: 10px;
    font-size: 1.6rem;
  }
  #home {
    font-size: 1.5rem;
  }
  .v1 {
  display: block;
}
  .v2 {
  display: none;
}
}
@media (min-width: 1200px) {
  .ig {
    height: 450px;
  }
}

html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
